@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

.dark {
  --background: #111827;
  --foreground: #f9fafb;
}

body {
  color: var(--foreground);
  background: var(--background);
}
